Payments/fanava/documents/documents & SampleCodes/Asp.net/App_WebReferences/ir/shaparak/fanava/PaymentWebServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://paymentService.merchant.webservice.epayment.modern.tosan.com/" name="PaymentWebServiceService" targetNamespace="http://paymentService.merchant.webservice.epayment.modern.tosan.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://fanava.shaparak.ir:443/merchantwebservice/jax/merchantAuth?xsd=1" namespace="http://paymentService.merchant.webservice.epayment.modern.tosan.com/" />
    </xsd:schema>
  </types>
  <message name="login">
    <part name="parameters" element="tns:login" />
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse" />
  </message>
  <message name="WsInvalidCredentialException">
    <part name="fault" element="tns:WsInvalidCredentialException" />
  </message>
  <message name="WsBlockUserException">
    <part name="fault" element="tns:WsBlockUserException" />
  </message>
  <message name="logout">
    <part name="parameters" element="tns:logout" />
  </message>
  <message name="logoutResponse">
    <part name="parameters" element="tns:logoutResponse" />
  </message>
  <message name="WsInvalidSessionException">
    <part name="fault" element="tns:WsInvalidSessionException" />
  </message>
  <message name="verifyTransaction">
    <part name="parameters" element="tns:verifyTransaction" />
  </message>
  <message name="verifyTransactionResponse">
    <part name="parameters" element="tns:verifyTransactionResponse" />
  </message>
  <message name="WsValidationException">
    <part name="fault" element="tns:WsValidationException" />
  </message>
  <message name="secureVerifyTransaction">
    <part name="parameters" element="tns:secureVerifyTransaction" />
  </message>
  <message name="secureVerifyTransactionResponse">
    <part name="parameters" element="tns:secureVerifyTransactionResponse" />
  </message>
  <message name="reverseTransaction">
    <part name="parameters" element="tns:reverseTransaction" />
  </message>
  <message name="reverseTransactionResponse">
    <part name="parameters" element="tns:reverseTransactionResponse" />
  </message>
  <message name="WebServiceException">
    <part name="fault" element="tns:WebServiceException" />
  </message>
  <message name="WsAmountConstraintViolationException">
    <part name="fault" element="tns:WsAmountConstraintViolationException" />
  </message>
  <message name="WsAuthenticationException">
    <part name="fault" element="tns:WsAuthenticationException" />
  </message>
  <message name="WsClientAddressException">
    <part name="fault" element="tns:WsClientAddressException" />
  </message>
  <message name="WsPaymentReverseException">
    <part name="fault" element="tns:WsPaymentReverseException" />
  </message>
  <message name="WsSystemMalFunctionException">
    <part name="fault" element="tns:WsSystemMalFunctionException" />
  </message>
  <message name="WsInsufficientFundsException">
    <part name="fault" element="tns:WsInsufficientFundsException" />
  </message>
  <message name="reportTransaction">
    <part name="parameters" element="tns:reportTransaction" />
  </message>
  <message name="reportTransactionResponse">
    <part name="parameters" element="tns:reportTransactionResponse" />
  </message>
  <message name="detailReportTransaction">
    <part name="parameters" element="tns:detailReportTransaction" />
  </message>
  <message name="detailReportTransactionResponse">
    <part name="parameters" element="tns:detailReportTransactionResponse" />
  </message>
  <portType name="PaymentWebService">
    <operation name="login">
      <input message="tns:login" />
      <output message="tns:loginResponse" />
      <fault name="WsInvalidCredentialException" message="tns:WsInvalidCredentialException" />
      <fault name="WsBlockUserException" message="tns:WsBlockUserException" />
    </operation>
    <operation name="logout">
      <input message="tns:logout" />
      <output message="tns:logoutResponse" />
      <fault name="WsInvalidSessionException" message="tns:WsInvalidSessionException" />
    </operation>
    <operation name="verifyTransaction">
      <input message="tns:verifyTransaction" />
      <output message="tns:verifyTransactionResponse" />
      <fault name="WsValidationException" message="tns:WsValidationException" />
      <fault name="WsInvalidSessionException" message="tns:WsInvalidSessionException" />
    </operation>
    <operation name="secureVerifyTransaction">
      <input message="tns:secureVerifyTransaction" />
      <output message="tns:secureVerifyTransactionResponse" />
      <fault name="WsValidationException" message="tns:WsValidationException" />
      <fault name="WsInvalidSessionException" message="tns:WsInvalidSessionException" />
    </operation>
    <operation name="reverseTransaction">
      <input message="tns:reverseTransaction" />
      <output message="tns:reverseTransactionResponse" />
      <fault name="WebServiceException" message="tns:WebServiceException" />
      <fault name="WsAmountConstraintViolationException" message="tns:WsAmountConstraintViolationException" />
      <fault name="WsAuthenticationException" message="tns:WsAuthenticationException" />
      <fault name="WsClientAddressException" message="tns:WsClientAddressException" />
      <fault name="WsPaymentReverseException" message="tns:WsPaymentReverseException" />
      <fault name="WsSystemMalFunctionException" message="tns:WsSystemMalFunctionException" />
      <fault name="WsValidationException" message="tns:WsValidationException" />
      <fault name="WsInsufficientFundsException" message="tns:WsInsufficientFundsException" />
    </operation>
    <operation name="reportTransaction">
      <input message="tns:reportTransaction" />
      <output message="tns:reportTransactionResponse" />
      <fault name="WsValidationException" message="tns:WsValidationException" />
    </operation>
    <operation name="detailReportTransaction">
      <input message="tns:detailReportTransaction" />
      <output message="tns:detailReportTransactionResponse" />
      <fault name="WsValidationException" message="tns:WsValidationException" />
    </operation>
  </portType>
  <binding name="PaymentWebServicePortBinding" type="tns:PaymentWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WsInvalidCredentialException">
        <soap:fault use="literal" name="WsInvalidCredentialException" namespace="" />
      </fault>
      <fault name="WsBlockUserException">
        <soap:fault use="literal" name="WsBlockUserException" namespace="" />
      </fault>
    </operation>
    <operation name="logout">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WsInvalidSessionException">
        <soap:fault use="literal" name="WsInvalidSessionException" namespace="" />
      </fault>
    </operation>
    <operation name="verifyTransaction">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WsValidationException">
        <soap:fault use="literal" name="WsValidationException" namespace="" />
      </fault>
      <fault name="WsInvalidSessionException">
        <soap:fault use="literal" name="WsInvalidSessionException" namespace="" />
      </fault>
    </operation>
    <operation name="secureVerifyTransaction">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WsValidationException">
        <soap:fault use="literal" name="WsValidationException" namespace="" />
      </fault>
      <fault name="WsInvalidSessionException">
        <soap:fault use="literal" name="WsInvalidSessionException" namespace="" />
      </fault>
    </operation>
    <operation name="reverseTransaction">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WebServiceException">
        <soap:fault use="literal" name="WebServiceException" namespace="" />
      </fault>
      <fault name="WsAmountConstraintViolationException">
        <soap:fault use="literal" name="WsAmountConstraintViolationException" namespace="" />
      </fault>
      <fault name="WsAuthenticationException">
        <soap:fault use="literal" name="WsAuthenticationException" namespace="" />
      </fault>
      <fault name="WsClientAddressException">
        <soap:fault use="literal" name="WsClientAddressException" namespace="" />
      </fault>
      <fault name="WsPaymentReverseException">
        <soap:fault use="literal" name="WsPaymentReverseException" namespace="" />
      </fault>
      <fault name="WsSystemMalFunctionException">
        <soap:fault use="literal" name="WsSystemMalFunctionException" namespace="" />
      </fault>
      <fault name="WsValidationException">
        <soap:fault use="literal" name="WsValidationException" namespace="" />
      </fault>
      <fault name="WsInsufficientFundsException">
        <soap:fault use="literal" name="WsInsufficientFundsException" namespace="" />
      </fault>
    </operation>
    <operation name="reportTransaction">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WsValidationException">
        <soap:fault use="literal" name="WsValidationException" namespace="" />
      </fault>
    </operation>
    <operation name="detailReportTransaction">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="WsValidationException">
        <soap:fault use="literal" name="WsValidationException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="PaymentWebServiceService">
    <port name="PaymentWebServicePort" binding="tns:PaymentWebServicePortBinding">
      <soap:address location="https://fanava.shaparak.ir:443/merchantwebservice/jax/merchantAuth" />
    </port>
  </service>
</definitions>